#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin-top: 0 auto;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: -4rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 110vh;
  width: 100%;
}

.introContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.introName {
  color: #00b7ff;
}

.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
}

.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
}

.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}

@media screen and (max-width:720px) {
  #intro {
    margin-bottom: 100px;
  }
  .introContent {
    font-size: 6vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}